# ===============================
# Node Dependecies
# ===============================
node_modules/
npm-debug.log*
dist/
build/

# ===============================
# Environment & Logs
# ===============================
.env
*.pem
*.key
logs/
*.log

# ===============================
# OS / Editor
# ===============================
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*.swo

# ===============================
# Test / Coverage
# ===============================
coverage/
.nyc_output/
__tests__/

# ===============================
# Misc
# ===============================
tmp/
.cache/